@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    padding: 0 20px;
}
.sobre{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.sobre h1{
    font-size: 55px;
}
.sobre span{
    font-weight: bold;
    font-size: 50px;
    font-family: 'Cascadia Code', monospace;
}
.sobre p{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(177, 177, 177);
}
.foto .container-foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-color: wheat;
}
.foto .container-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.redes{
    margin-top: 40px;
    display: flex;
    gap: 10px;
}
.redes span img{
    width: 70px;
    height: 70px;
    cursor: pointer;
}