@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(177, 177, 177);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.infos {
    display: flex;
    gap: 50px;
    align-items: center;
}

.container-img {
    width: 80px;
    height: 80px;
    background-color: wheat;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nomes {
    cursor: pointer
}

.nomes p {
    font-size: 20px;
    color: rgb(177, 177, 177);
}

.pags {
    display: flex;
    gap: 30px;
}

.pags a {
    font-size: 18px;
    cursor: pointer;
}